:root {
    --primary-bg-color: #1e90ff;
    --primary-color: #7e7e7e;
}

.top-nav{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
}

.nav-text{
    font-size: 14pt;
    color: var(--primary-color);
}